# Ignore WordPress core files
/Y0mOF0pN3C4Z.io

# WordPress core files
/YJmpLrEKXkg2.com/wp-admin/
/YJmpLrEKXkg2.com/wp-includes/
/YJmpLrEKXkg2.com/index.php
/YJmpLrEKXkg2.com/xmlrpc.php
/YJmpLrEKXkg2.com/wp-*.php

# First, include the wp-content directory
!/YJmpLrEKXkg2.com/wp-content/

# Then ignore everything in wp-content
/YJmpLrEKXkg2.com/wp-content/*

# But keep plugins and themes directories
!/YJmpLrEKXkg2.com/wp-content/plugins/
!/YJmpLrEKXkg2.com/wp-content/themes/

# Then ignore specific content in plugins and themes
/YJmpLrEKXkg2.com/wp-content/plugins/hello.php
/YJmpLrEKXkg2.com/wp-content/plugins/akismet/
/YJmpLrEKXkg2.com/wp-content/themes/twenty*/

# System files
.DS_Store
Thumbs.db
*.log
*.sql
*.sqlite

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node modules
node_modules/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Sensitive files
*.env
*.key
*.pem
wp-config.php