# First ignore everything
*
!.gitignore

# Then whitelist wp-content directory
!/YJmpLrEKXkg2.com/
/YJmpLrEKXkg2.com/*
!/YJmpLrEKXkg2.com/wp-content/

# Then whitelist plugins and themes
/YJmpLrEKXkg2.com/wp-content/*
!/YJmpLrEKXkg2.com/wp-content/plugins/
!/YJmpLrEKXkg2.com/wp-content/themes/

# Ignore specific plugins and themes
/YJmpLrEKXkg2.com/wp-content/plugins/*
!/YJmpLrEKXkg2.com/wp-content/plugins/elementor/
!/YJmpLrEKXkg2.com/wp-content/plugins/royal-elementor-addons/

/YJmpLrEKXkg2.com/wp-content/themes/*
!/YJmpLrEKXkg2.com/wp-content/themes/hello-elementor/

# System files
.DS_Store
Thumbs.db
*.log
*.sql
*.sqlite

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node modules
node_modules/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Sensitive files
*.env
*.key
*.pem
wp-config.php